.intro {
    background-color: white;
    justify-content: center;
    margin: 2em;


  .btn {
      width: 100%;
      justify-content: center;
      order: 2;
  }

  @include tablet {
      .btn {
          justify-content: space-between;
      }
      .btn i {
          order: 1;
      }
  }
}